# ==============================================================================
# Simo Web Frontend Environment Configuration
# ==============================================================================

VITE_API_BASE_URL=http://localhost:8080/api/v1
VITE_GOOGLE_CLIENT_ID=249729017539-b22m2t1b958l3d24olhp249h3r26bn6a.apps.googleusercontent.com
